{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>菜品編號</th>
        <td><input class="form-control" type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>菜品名稱</th>
        <td><input class="form-control" type="text" value="{{ data.商品名稱 }}" name="name" required></td>
      </tr>
      <tr>
        <th>單價</th>
        <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
      </tr>
      <tr>
        <th>類別</th>
        <td>
          <select class="form-control" name="category">
            {% if data.類別 == 'Fastfood' %}
              <option value="Fastfood" selected>Fastfood</option>
              <option value="Rice">Rice</option>
              <option value="Noodle">Noodle</option>
              <option value="Drink">Drink</option>
              
            {% elif data.類別 == 'Rice' %}
              <option value="Fastfood" >Fastfood</option>
              <option value="Rice" selected>Rice</option>
              <option value="Noodle">Noodle</option>
              <option value="Drink">Drink</option>

            {% elif data.類別 == 'Noodle' %}
              <option value="Fastfood" >Fastfood</option>
              <option value="Rice" >Rice</option>
              <option value="Noodle" selected >Noodle</option>
              <option value="Drink">Drink</option>

            {% else %}
              <option value="Fastfood" >Fastfood</option>
              <option value="Rice" >Rice</option>
              <option value="Noodle" >Noodle</option>
              <option value="Drink" selected >Drink</option>
            {% endif %}
            
        </select>
      </tr>
      <tr>
        <th>菜品敘述</th>
        <td>
          <textarea class="form-control" name="description">{{ data.商品敘述 }}</textarea>
        </td>
      </tr>
      <!-- <tr>
        <th>商品圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回商品管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}