{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}購物車清單{% endblock title%}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">
  alert('您沒有使用者的權限喔！');
</script>

{% endif %}
{% endwith %}

<br/>


<style>
  .i{
    width: 50px;
    height: 50px;
  }
.fa-shopping-cart{
  font-size: 15px;
}
.mr-3{
  margin-right: 10px;
}
.rd_btn{
  border-radius: 300px;
}
.monkey_bp{
  width: 150px;
  height: 150px;
}
.title{
  font-size: 50px;
  font-family: 'Edu TAS Beginner', cursive;
}
.t_bg{
  background-color: #dee0e3;
}

</style>



<div class="container-xl  ">
  <div class="d-flex  justify-content-center">
    <img class="monkey_bp mr-3" src="https://upload.cc/i1/2023/11/10/apeObG.png" alt="">
    <center><div class="title mt-5 ">Shopping Cart</div></center>
  </div>
   
  <br/>
    <form method="post" action={{ url_for('bookstore.cart') }}>
      <table class="table table-bordered align-middle card">
        <tr class="t_bg">
          <th><center>商品編號</center></th>
          <!--<th><center>商品圖片</center></th>-->
          <th><center>商品名稱</center></th>
          <th><center>商品價格</center></th>
          <th><center>數量</center></th>
          <th><center>刪除商品</center></th>
        </tr>
        {% for book in data %}
      
        <tr>
          <td> <center>{{ book.商品編號 }}</center></td>
          <!--<td><center><img src= {{book.商品圖片}}  alt="" class="i"></center></td>-->
          <td> <center>{{ book.商品名稱 }}</center></td>
          <td> <center>{{ book.商品價格 }}</center></td>
        
          <td width="12%">
            <center>
              <input class="form-control" type="number" onkeyup="value=value.replace(/[^\d]/g,'')" min="1" value="{{ book.數量 }}" name="{{ book.商品編號 }}">
            </center>
          </td>

          <td>
            <center>
              <button class="btn btn-outline-danger " type="submit" value="{{book.商品編號}}" name="delete" onclick="return (confirm('你確定要刪除 \'{{ book.商品名稱 }}\' 嗎？'))">
                <i class="fa fa-times " aria-hidden="true"></i>
              </button>
            </center>
          </td>
        </tr>
    

        {% endfor %}
      </table>
      <div class="option d-flex justify-content-end mt-4">
      <button class="btn btn-warning mr-3 rd_btn" type="submit" value="edit" name="user_edit" ><i class="fa fa-shopping-cart"></i>  繼續購物</button>
      <button class="btn btn-primary rd_btn" type="submit" value="edit" name="buy" ><i class="fa fa-credit-card" aria-hidden="true"></i>  直接結帳</button>
    </div>

    </form>


    
</div>

  



{% endblock content%}

